<div id="uploadify_source"></div>

<%= uploadify_s3 %>

<% content_for :head do %>
  <%= javascript_include_tag 'jquery-1.3.2.min' %>
  <%= javascript_include_tag 'jquery.uploadify.v2.1.0.min' %>
  
  <%= stylesheet_link_tag 'uploadify' %>
<% end %>
